.chat-container {
    border: dotted 0px green;
    padding: 2rem;
}

.chatinput-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #1a1a1a;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}