.chat-container {
	/* padding: 2rem; */
	color: #ffffff;
	justify-self: flex-end;
	/* border: 2px solid #111; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.chatview-container {
	padding: 2rem calc(10% - 1rem) 0.5rem calc(10% - 1rem);
	overflow-y: auto;
	height: 90%;
}

.chatinput-container {
	width: 100%;
	background-color: #1a1a1a;
	height: 50px;
	display: grid;
	grid-template-columns: auto 80% auto;
	justify-items: center;
	align-items: center;
	flex-shrink: 0;
}

.container1 {
	align-self: left;
	color: white;
	display: flex;
	width: calc(80%);
	padding-left: calc(10% - 1rem);
	padding-right: calc(10% - 1rem);
	min-height: 40px;
	justify-content: space-between;
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
