.chatBubble {
	display: flex;
	border-radius: 15px;
	padding:6px;
	margin-left:5px;
	width: auto;
	background-color: #ad0a25;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	overflow-y: hidden;
	user-select: none;
	height: auto;
}

.chatBubble:hover {
	cursor: pointer;
	background-color: #8a0f23;
	transform: translate(0px, -2px) scale(1.03);
}
